{% extends 'app.html.twig' %}

{% block body %}
    <div class="row">
        {% for item in pagination.items %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-3 mb-4">
                <div class="card h-100">
                    <div class="item-image" style="background-image: url('{{ item.image }}');"></div>
                    <div class="card-body">
                        <h2 class="card-title h5">{{ item.title }}</h2>
                        <p class="card-text">
                            {{ item.getSlugDescription() }}
                        </p>
                        <p>
                            <a href="{{ item.url }}" target="_blank">Go to site</a>
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    {% include 'component/pagination.html.twig' with {pagination} %}
{% endblock %}