{% extends 'index.html.twig' %}

{% block body %}
    <h1>Login</h1>

    {% for flash in flash.getAllByLabel('success') %}
        <p style="color: green">{{ flash.message }}</p>
    {% endfor %}

    <form action="" method="post">
        <div>
            <label for="login">Login:</label>
            {% for flash in flash.getAllByLabel('error.login') %}
                <p style="color: red">{{ flash.message }}</p>
            {% endfor %}
            <input type="text" id="login" name="login" required>
        </div>
        <div>
            <label for="password">Password:</label>
            {% for flash in flash.getAllByLabel('error.password') %}
                <p style="color: red">{{ flash.message }}</p>
            {% endfor %}
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <button type="submit">Login</button>
        </div>
        <div>
            <a href="{{ route.make('security_register') }}">Not have an account yet?</a>
        </div>
    </form>
{% endblock %}