{% extends 'app.html.twig' %}

{% block body %}
    {% include 'component/flash.html.twig' %}

    <p>{{ t.trans('item.search.found', {'%search%': request.get('search'), '%count%': pagination.total}) }}</p>
    {% include 'page/item/item.page.html.twig' %}
{% endblock %}