<div class="container-fluid">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <a href="{{ route.make('homepage_index') }}" class="col-md-6 d-flex align-items-center justify-content-end mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <p class="col-md-6 mb-0 text-body-secondary">© {{ 'now'|date('Y') }} WatchNext</p>
        </a>
    </footer>
</div>